.button,
.button:link,
.button:visited {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  border: 2px solid transparent;
  padding: 1rem 2rem;

  font-size: 2rem;
  font-weight: 600;

  cursor: pointer;

  gap: 1rem;

  transition: all 0.4s;

  svg {
    transition: all 0.4s;
  }
}

.primary {
  color: var(--color-text-3);
  background-color: var(--color-accent-1);
  border-radius: 4px;

  box-shadow: 0 4px 8px var(--color-accent-1);
}

.primary:hover svg,
.primary:active svg {
  transform: scale(1.1) rotate(30deg);
}

.menu {
  padding: 1rem;

  font-size: 2rem;
  font-weight: 600;
  border-radius: 4px;

  background-color: var(--color-accent-1);
  color: var(--color-text-3);

  cursor: pointer;

  gap: 1rem;

  transition: all 0.4s;

  svg {
    transition: all 0.4s;
    color: inherit;
  }
}
