.address {
  color: var(--color-text-1);
  font: inherit;

  line-height: 1.7;

  .link:link,
  .link:visited {
    display: inline-block;
    color: inherit;
    text-underline-offset: 5px;

    transition: all 0.4s;
  }

  .link:hover,
  .link:active {
    color: var(--color-accent-1);
  }
}
