.list {
  margin-top: 6rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  list-style: none;

  row-gap: 4rem;
  column-gap: 8rem;
}

.item {
  display: flex;
  flex-direction: column;

  svg {
    align-self: center;
    margin-bottom: 1rem;

    width: 48px;
    height: 48px;
  }

  h3 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    align-self: center;

    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  p {
    text-align: justify;
    font-weight: 400;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 655px) {
  .list {
    grid-template-columns: 1fr;
  }

  .item {
    max-width: 40rem;
    margin-inline: auto;
  }
}
