.section {
  & > * {
    max-width: 1400px;
    width: 100%;
    height: 100%;

    margin: 0 auto;
  }
}

.hero {
  background-image: url("hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  height: 100dvh;

  padding: var(--nav-height) 0;
}

.aboutus {
  padding: 10rem 0;
}

.contact {
  padding: 15rem 0 calc(15rem + var(--footer-height));

  background-image: url("contact-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.dark {
  border-image-source: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(34, 40, 49, 0.85)
  );
  border-image-slice: fill 1;
}

.dark-reverse {
  border-image-source: linear-gradient(
    rgba(34, 40, 49, 0.85),
    rgba(0, 0, 0, 0.9)
  );
  border-image-slice: fill 1;
}

.light {
  border-image-source: linear-gradient(
    rgba(238, 238, 238, 0.85),
    rgba(255, 255, 255, 0.85)
  );
  border-image-slice: fill 1;
}
