.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.item {
  display: block;
}
.link:link,
.link:visited {
  display: block;
  white-space: nowrap;

  text-decoration: none;
  color: inherit;

  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.25px;

  padding: 0.5rem 1rem;

  position: relative;

  transition: all 0.4s;
}

.link:link::after {
  position: absolute;
  width: 0%;
  height: 2.5px;

  content: "";

  background-color: transparent;

  bottom: 0;
  left: 50%;

  transition: all 0.4s;
}

.link:hover,
.link:active {
  color: var(--color-accent-1);
}

.link:link:hover::after {
  width: 100%;
  left: 0%;

  background-color: var(--color-accent-1);
}

@media screen and (max-width: 1025px) {
  .nav {
    position: absolute;
    top: 100%;

    right: 0;

    background-color: var(--color-background-1);

    padding: 1rem 2rem;

    border: 2px solid var(--color-background-2);
    border-top: none;

    border-radius: 0 0 6px 6px;

    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);

    pointer-events: none;
    opacity: 0;
    visibility: hidden;

    transition: all 0.4s;
  }

  .list {
    flex-direction: column;
  }

  .navOpen {
    top: calc(100% + 15px);

    pointer-events: initial;
    opacity: 1;
    visibility: visible;
  }
}
