.header {
  background-color: var(--color-background-1);
  color: var(--color-text-1);

  position: fixed;
  justify-content: space-between;

  gap: 3rem;

  width: 100%;
  height: var(--nav-height);

  display: flex;

  padding: 1.5rem 3rem;
}
