.header {
  position: fixed;
  justify-content: space-between;

  gap: 3rem;

  width: 100%;
  height: var(--nav-height);

  display: flex;

  padding: 1.5rem 3rem;

  transition: background-color 0.3s;
}

.top {
  background-color: transparent;
  color: var(--color-text-1);

  border-bottom: 2px solid transparent;
}

.under {
  background-color: var(--color-background-1);
  color: var(--color-text-1);
  border-bottom: 2px solid var(--color-background-2);
}
