:root {
  --color-background-1: #222831;
  --color-background-2: #393e46;
  --color-background-3: #eee;
  --color-background-3: #fff;

  --color-accent-1: #ffd369;
  --color-accent-2: #ffc436;

  --color-text-1: #eee;
  --color-text-2: #fff;
  --color-text-3: #393e46;
  --color-text-4: #222831;

  --nav-height: 87px;
  --footer-height: 100px;
}

@media screen and (max-width: 765px) {
  :root {
    --footer-height: 281px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  position: relative;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;

  background-color: var(--color-background-3);
  color: var(--color-background-1);

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.sr_only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.active:link,
.active:visited {
  color: var(--color-accent-1) !important;
}

.active:link::after,
.active:visited::after {
  width: 100% !important;
  left: 0% !important;
  background-color: var(--color-accent-1) !important;
}
